In [1]:
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
pageNum = '1'
urlCars = 'https://www.cars.com/for-sale/searchresults.action/?dealerType=all&page=' + pageNum + '&perPage=100&prMx=10000&rd=100&searchSource=GN_REFINEMENT&sort=relevance&stkTypId=28881&zc=80210'
pageCars = requests.get(urlCars)
soupCars = BeautifulSoup(pageCars.text, 'html.parser')

In [3]:
car_price_list = soupCars.find_all(class_ ="listing-row__price")
year_make_modelCars = soupCars.find_all(class_ = "listing-row__title")
millageCars = soupCars.find_all(class_ ="listing-row__mileage")
ext_int_tran_driveCars = soupCars.find_all(class_ ="listing-row__meta")

In [4]:
print("Reading",len(car_price_list),"entries")
carPrices = []
carNames = []
carYears = []
carMileages = []
carTransmissions = []
carDrivetrains = []
for i in range(0,len(car_price_list)):
    formatCarPrice = str(car_price_list[i].get_text()).lstrip()
    formatCarName = str(year_make_modelCars[i].get_text()).lstrip()
    formatMileage = str(millageCars[i].get_text()).lstrip()
    formatExtIntTran = str(ext_int_tran_driveCars[i].get_text()).lstrip()

    #Format car price
    formatCarPrice = re.sub(r"[\n\t]*", "", formatCarPrice)
    formatCarPrice = re.sub(r'\D+', '', formatCarPrice)


    #Format car name and year and split into seperate variables
    formatCarName = re.sub(r"[\n\t]*", "", formatCarName)
    formatYear =  re.findall(r'[0-9]{4}', formatCarName)
    formatYear = str(formatYear[0])
    formatCarName = re.sub(r'[0-9]{4}[ ]', '', formatCarName)

    #Format mileage
    formatMileage = re.sub(r"[\n\t]*", "", formatMileage)
    formatMileage = re.sub(r'\D+', '', formatMileage)

    #Format ext int tran into transmission and mileage
    formatExtIntTran = re.sub(r"[\n\t\s]*", "", formatExtIntTran)
    formatExtIntTran = re.split(r'Transmission:', formatExtIntTran)
    formatExtIntTran = re.split(r'Drivetrain:', formatExtIntTran[1])
    transmission = formatExtIntTran[0]
    drivetrain = formatExtIntTran[1]
    
    carPrices.append(formatCarPrice)
    carNames.append(formatCarName)
    carYears.append(formatYear)
    carMileages.append(formatMileage)
    carTransmissions.append(transmission)
    carDrivetrains.append(drivetrain)

Reading 97 entries

In [5]:
listingObj = {
    'cost': carPrices,
    'name': carNames,
    'year': carYears,
    'mileage': carMileages,
    'transmission': carTransmissions,
    'drivetrain': carDrivetrains
}

listings = pd.DataFrame(listingObj)
listings.head()
print("Dataframe has",len(listings.index),"entries")

Dataframe has 97 entries

In [9]:
car_price_list[1]
final = listings
final.head()

,cost,name,year,mileage,transmission,drivetrain
0,9337,Chevrolet Express AFTERMARKET STEREO ...,2005,119276,Automatic,RWD
1,8990,Nissan Sentra SR,2016,16490,CVT,FWD
2,9895,Subaru Legacy 3.6R Limited ...,2012,38000,Automatic,AWD
3,7990,Subaru Legacy 2.5i Premium ...,2015,93550,CVT,AWD
4,7499,Subaru Impreza 2.0i Sport Premium ...,2013,49728,Other/Unknown,AWD

In [12]:
for i in range(2,39):
    pageNum = 'i'
    urlCars = 'https://www.cars.com/for-sale/searchresults.action/?dealerType=all&page=' + pageNum + '&perPage=100&prMx=10000&rd=100&searchSource=GN_REFINEMENT&sort=relevance&stkTypId=28881&zc=80210'
    pageCars = requests.get(urlCars)
    soupCars = BeautifulSoup(pageCars.text, 'html.parser')
    car_price_list_temp = soupCars.find_all(class_ ="listing-row__price")
    year_make_modelCars_temp = soupCars.find_all(class_ = "listing-row__title")
    millageCars_temp = soupCars.find_all(class_ ="listing-row__mileage")
    ext_int_tran_driveCars_temp = soupCars.find_all(class_ ="listing-row__meta")
    print("Reading",len(car_price_list),"entries")
    carPrices = []
    carNames = []
    carYears = []
    carMileages = []
    carTransmissions = []
    carDrivetrains = []
    for i in range(0,len(car_price_list)):
        formatCarPrice = str(car_price_list[i].get_text()).lstrip()
        formatCarName = str(year_make_modelCars[i].get_text()).lstrip()
        formatMileage = str(millageCars[i].get_text()).lstrip()
        formatExtIntTran = str(ext_int_tran_driveCars[i].get_text()).lstrip()

        #Format car price
        formatCarPrice = re.sub(r"[\n\t]*", "", formatCarPrice)
        formatCarPrice = re.sub(r'\D+', '', formatCarPrice)


        #Format car name and year and split into seperate variables
        formatCarName = re.sub(r"[\n\t]*", "", formatCarName)
        formatYear =  re.findall(r'[0-9]{4}', formatCarName)
        formatYear = str(formatYear[0])
        formatCarName = re.sub(r'[0-9]{4}[ ]', '', formatCarName)

        #Format mileage
        formatMileage = re.sub(r"[\n\t]*", "", formatMileage)
        formatMileage = re.sub(r'\D+', '', formatMileage)

        #Format ext int tran into transmission and mileage
        formatExtIntTran = re.sub(r"[\n\t\s]*", "", formatExtIntTran)
        formatExtIntTran = re.split(r'Transmission:', formatExtIntTran)
        formatExtIntTran = re.split(r'Drivetrain:', formatExtIntTran[1])
        transmission = formatExtIntTran[0]
        drivetrain = formatExtIntTran[1]

        carPrices.append(formatCarPrice)
        carNames.append(formatCarName)
        carYears.append(formatYear)
        carMileages.append(formatMileage)
        carTransmissions.append(transmission)
        carDrivetrains.append(drivetrain)
    listingObj = {
    'cost': carPrices,
    'name': carNames,
    'year': carYears,
    'mileage': carMileages,
    'transmission': carTransmissions,
    'drivetrain': carDrivetrains
    }

    listings = pd.DataFrame(listingObj)
    listings.head()
    print("Dataframe has",len(listings.index),"entries")
    final = final.append(listings)

Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries
Reading 97 entries
Dataframe has 97 entries

In [21]:
print("Dataframe has",len(final.index),"entries")

Dataframe has 3686 entries

In [22]:
final.to_csv(r 'C:\User\Jacob\Documents\personal\Stat 4010\DenData.csv')

SyntaxError: invalid syntax (<ipython-input-22-ed2f1a8daf39>, line 1)

In [26]:
final.loc[[100]]

KeyError: "None of [Int64Index([100], dtype='int64')] are in the [index]"